<header>
   <section class="header--banner">
      <figure>
         <object data="../../../assets/icons/logo.svg" type="image/svg+xml"></object>
      </figure>
   </section>
   <section class="header_details--wrapper">
      <h1 class="header-title">REABERTURA SMART FIT</h1>
      <p>O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.</p>
   </section>
</header>